
<form [formGroup]="deviceForm">
  <div class="main-content">
        <mat-toolbar color="accent">
            <span>
                <button mat-icon-button (click)="goBack()">
                    <mat-icon aria-label="back to device" class="zmdi zmdi-arrow-left back-icon"></mat-icon>
                </button>
                <span class="title">Add Device</span>
            </span>
            <span fxFlex></span>
            <button mat-button (click)="goBack()">Cancel</button>
            <button mat-button [disabled]="!deviceForm.valid || disabled" (click)="onDeviceAdd(deviceForm.value)">Add</button>
            <span fxFlex="3"></span>
        </mat-toolbar>
      <mat-card class="add-card">
         <mat-card-content>
            
            <div fxLayout="row" fxLayoutAlign="space-around center">
                    <div fxFlex="50">
                        <mat-form-field>
                            <input matInput placeholder="name" [formControl]="name">
                            <mat-error *ngIf="name.invalid">{{errMsgSrv.getFormErrorMessage(name)}}</mat-error>
                            </mat-form-field>
                    </div>
                    <div fxFlex="50">
                        <mat-form-field>
                            <input matInput placeholder="lat,lng" [formControl]="location">
                            <mat-error *ngIf="location.invalid">{{errMsgSrv.getFormErrorMessage(location)}}</mat-error>
                        </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="50">
                    <mat-form-field>
                        <input matInput placeholder="Inactive Duration" type="number" [formControl]="inactive_duration">
                        <mat-error *ngIf="inactive_duration.invalid">{{errMsgSrv.getFormErrorMessage(inactive_duration)}}</mat-error>
                      </mat-form-field>
                </div>
  
                <div fxFlex="50">
                    <mat-form-field>
                        <mat-select placeholder="Unit" [formControl]="inactive_duration_unit">
                            <mat-option  value="">--please select--</mat-option>
                            <mat-option *ngFor="let unit of deviceInactiveUnit" value="{{unit}}">
                              {{ unit }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="inactive_duration_unit.invalid">{{errMsgSrv.getFormErrorMessage(inactive_duration_unit)}}</mat-error>
                      </mat-form-field>
                </div>
              </div>

            <div fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex="50">
                  <mat-form-field>
                      <input matInput placeholder="Device Id" [formControl]="device_id">
                      <mat-error *ngIf="device_id.invalid">{{errMsgSrv.getFormErrorMessage(device_id)}}</mat-error>
                    </mat-form-field>
              </div>

              <div fxFlex="50">
                  <mat-form-field>
                      <mat-select placeholder="Device Type" [formControl]="type">
                          <mat-option  value="">--please select--</mat-option>
                          <mat-option *ngFor="let dtype of deviceTypes" value="{{dtype}}">
                            {{ dtype }}
                          </mat-option>
                      </mat-select>
                      <mat-error *ngIf="type.invalid">{{errMsgSrv.getFormErrorMessage(type)}}</mat-error>
                    </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center">
                <!-- <div fxFlex="50">
                    <mat-form-field>
                        <mat-select placeholder="Device State" [formControl]="state">
                            <mat-option  value="">--please select--</mat-option>
                            <mat-option *ngFor="let stateItem of deviceStates" value="{{stateItem}}">
                              {{ stateItem }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="state.invalid">{{errMsgSrv.getFormErrorMessage(state)}}</mat-error>
                      </mat-form-field>
                </div> -->
            </div>

          </mat-card-content>
          <mat-card-actions>
              <span fxFlex></span>
              
            </mat-card-actions>
    </mat-card>
  </div>
</form>