<router-outlet name="header"></router-outlet>
<mat-sidenav-container class="example-container">
        <app-loader></app-loader>

        <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
                <mat-toolbar color="primary">
                        <h2>IOT-app</h2>
                        <div fxFelx></div>
                        <!-- <app-network-indigator></app-network-indigator> -->
                </mat-toolbar>
                <router-outlet name="sidenav"></router-outlet>
        </mat-sidenav>

        <mat-sidenav-content [ngClass]="{'mat-sidenav-content-login': !authSrv.isAuthenticated(), 'mat-sidenav-content-main': authSrv.isAuthenticated()}">
                <!-- <breadcrumbs></breadcrumbs> -->
                <router-outlet></router-outlet>
                <!--<footer><router-outlet name="footer"></router-outlet></footer> -->
        </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" [(opened)]="opened">
                <router-outlet name="sidenav"></router-outlet>
        </mat-sidenav>
        
        <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
                        <header fxFlexFill>
                                        <router-outlet name="header"></router-outlet>
                                </header>
               <article fxFlex fxFlexFill>
                <router-outlet></router-outlet>
                </article>

                <footer>
                <router-outlet name="footer"></router-outlet> 
                </footer>
        </div>
</mat-sidenav-container> -->
              